--
-- Table structure for table `short_urls`
--

DROP TABLE IF EXISTS `short_urls`;

CREATE TABLE `short_urls` (
  `id` int NOT NULL AUTO_INCREMENT,
  `original_url` text NOT NULL,
  `short_code` varchar(10) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `expires_at` timestamp NULL DEFAULT NULL,
  `click_count` int DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `short_code` (`short_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

